*{
    margin: 0;
    padding: 0;
    border-radius: border-box;
}
body{
    background-color:rgb(226, 186, 226) ;
}
.container{
    display: flex;
    height: 580px;
    width: 800px;
   /* border: 1px solid black;*/
    margin:auto;
    margin-top: 50px;
    box-shadow: 15px 15px rgb(146, 145, 145);
}
#form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: rgb(231, 228, 228);
}
#form h1{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}
.input-con input{ 
    padding: 6px;
    width: 80%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px 5px;
    }
    #form h3{
        text-align: center;
    }
    input[type="submit"]{
        padding: 6px;
        width: 60px;
        margin-top: 15px;
        background-color: rgb(223, 9, 223);
        color: black;
        font-weight: bold;
        border: 1px solid  black;
        border-radius: 5px 5px;
 
   }
   .photo{
    display: flex;
   }
   .photo img{
    width: 430px;
    height: 580px;
   }
   .input-con.error input{
    border-color: red;
   }
   .input-con.success input{
    border-color: greenyellow;
   }
   .input-con i {
    position: absolute;
    right: 12px;
    top: 30px;
    visibility: hidden;
   }
   .input-con.error small{
    visibility: visible;
     }
     .input-con small{
       color: red;
       position: absolute;
       visibility: hidden;
       }
       .input-con.success i.fa-check-circle{
        color: greenyellow;
        visibility: visible;
       }
       .input-con.success i.fa-exclamation-circle{
        color: red;
        visibility: visible;
       }
       input[type='submit']:hover{
        background-color: pink;
       }
